

.newConnection {
    margin: 5px 30px;
    border: 1px black solid;
    border-radius: 20px;
    display: inline;
}

.newConnection p {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.Left {
    display: flex;
    justify-content: flex-start;
}

.Right {
    display: flex;
    justify-content: flex-end;
}

.Mensagem {
    display: inline;
    flex-direction: column;
    border: 1px black solid;
    width: 400px;
    margin: 5px;
    padding: 5px 10px;
}

.Me {
    border: 1px blueviolet solid;
    float: left;
}

.Name {
    /* background-color: aqua; */
    margin: 0px;
    padding: 0px;
}

.Text {
    /* background-color: blue; */
    margin: 0px;
    padding: 13px 5px;
}

.Date {
    /* background-color: blueviolet; */
    margin: 0px;
    right: 0px;
    padding: 0px;
    bottom: 0px;
}