
.Mensagem {
    display: inline;
    flex-direction: column;
    border: 1px black solid;
    width: 400px;
    margin: 5px;
    padding: 5px 10px;
    float: left;
}

.Me {
    border: 1px blueviolet solid;
    float: left;
}

.Name {
    /* background-color: aqua; */
    margin: 0px;
    padding: 0px;
}

.Text {
    /* background-color: blue; */
    margin: 0px;
    padding: 13px 5px;
}

.Date {
    /* background-color: blueviolet; */
    margin: 0px;
    right: 0px;
    padding: 0px;
    bottom: 0px;
}